/* Change background of the entire visible page */
body {
    background-color: #963808f1; 
}


/* Style for the main heading */
h1 {
    text-align: center; 
    border: 5px solid rgb(7, 63, 109); 
    padding: 10px; 
} 
/* Style for all paragraphs */
p{ color:rgb(7, 63, 109); 
    font-size: 12px;
    font-family: 'Georgia',serif;
  }

h2 {
    text-align: center; 
    border: 5px solid rgb(7, 63, 109); 
    padding: 10px; 
}
h3{
    text-align: center; 
    border: 5px solid rgb(7, 63, 109); 
    padding: 10px; 
}
