/* Change the background of the entire visible page */
body {
    background-color: #8a17d6f1; /* Very light grey */
}

/* Style for all paragraphs */
p {
    color: rgb(223, 138, 27);
    font-size: 16px;
    font-family: 'Caveat', serif;
}

/* Style for the main heading */
h1 {
    text-align: center; /* Puts the heading in the middle */
    border: 2px solid rgb(21, 61, 148); /* Adds an orange border around the heading */
    padding: 10px; /* Adds space inside the border */
