/* Change background of the entire visible page */
body {
    background-color: #7a7a7af1; 
}


/* Style for the main heading */
h1 {
    text-align: center; 
    border: 5px solid rgb(7, 63, 109); 
    padding: 10px; 
} 


h2 {
    text-align: center; 
    border: 5px solid rgb(7, 63, 109); 
    padding: 10px; 
}
h3{
    text-align: center; 
    border: 5px solid rgb(7, 63, 109); 
    padding: 10px; 
}
